.lh_movie_group {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.lh_movie_group .movie-item {
  padding: 5px;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.lh_movie_group .movie-item:hover {
  background-color: #f5f4eb;
  border-radius: 5px;
}

.lh_movie_group .movie-item h3,
.lh_movie_group .movie-item h4,
.lh_movie_group .movie-item h2,
.lh_movie_group .movie-item p {
  margin: 0;
  padding: 0;
}

.lh_movie_menu_default .movie-item .movie_featured_image,
.lh_movie_group .movie-item .movie_featured_image {
  width: 30%;
  padding: 0;
  margin: 0;
  float: left;
}

.lh_movie_menu_default .movie-item .movie_featured_image img,
.lh_movie_group .movie-item .movie_featured_image img {
  max-width: 100%;
}

.lh_movie_menu_default .movie-item .movie-item-content,
.lh_movie_group .movie-item .movie-item-content {
  padding: 0;
  padding-left: 15px;
  margin: 0px;
  width: 70%;
  float: left;
}

